<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <div id="root">
    <div style='display: flex;align-items: center;flex-direction: column'>
      <img
        style="margin-top: 100px;border-radius: 12px" alt="doraemon"
        height="300" width="300" src="<%= htmlWebpackPlugin.options.meta.icon %>"
      />
      <h1>Load
        <span style="color: #0b74d5">
          <%= htmlWebpackPlugin.options.title %>
        </span>
        success!
      </h1>
    </div>
  </div>
</body>

</html>

